<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Separate Product</title>
</head>
<h2>Информация о продукте</h2>
<body>
<form th:action="@{/products/{prodId}/update(prodId=${product.id})}" method="post" th:object="${product}">

    <label for="count">Count:
        <input id="count" type="number" name="count" th:value="*{count}">
    </label>
    <br>
    <br>
    <label for="name">Name:
        <input id="name" type="text" name="name" th:value="*{name}">
    </label>
    <br>
    <br>
    <label for="priceForOne">PriceForOne:
        <input id="priceForOne" type="number" name="priceForOne" th:value="*{priceForOne}">
    </label>
    <br>
    <br>
    <div>
        <label for="category">Category:
            <select id="category" name="categoryId">
                <option th:each="cat : ${categories}"
                        th:value="${cat.id}"
                        th:selected="${cat.id == product.category.id}"
                        th:text="${cat.categoryName}">CategoryName
                </option>
            </select>
        </label>
        <br>
    </div>
<!--    <div th:each="cat:${categories}">-->
<!--        <input th:id="'category_'+ ${cat.id}" type="radio" name="cat" th:value="${cat.id}" th:checked="${cat.id==product.category.id}">-->
<!--        <label th:for="'category_'+ ${cat.id}" th:text="${cat.categoryName}">Category:</label>-->
<!--        <br>-->
<!--    </div>-->
    <br>
    <div>
        <label for="supplier">Supplier:
            <select id="supplier" name="supplierId">
                <option th:each="supplr:${suppliers}"
                        th:value="${supplr.id}"
                        th:selected="${supplr.id == product.supplier.id}"
                        th:text="${supplr.name}">SupplierName
                </option>
            </select>
        </label>
        <br>
    </div>
    <br>
    <button type="submit">Update</button>
</form>
<br>
<form th:action="@{/product/{id}/delete(id=${product.id})}" method="post">
    <button type="submit">Remove</button>
</form>
<br>
<form action="/login" method="get">
    <button type="submit">Logout</button>
</form>
</body>
</html>